/.vscode
/flower.webm
/images.png
/img1.jpeg
/img2.jpeg
/img3.jpeg
/img4.jpg
/index.html
/index2.css
/index2.html
/laptop-under-500-2048px-acer-1.jpg
/lecture17.html
/lecture18.html
/lecture19.html
/lecture19a.html
/lecture19b.html
/lecture20.html
/lecture21.html
/lecture21a.html
/lecture22.html
/lecture23.html
/lecture24.html
/lovebabbar.jpg
/practice.cpp
/practice.exe
/t-rex-roar.mp3